
/* Define the heart animation */
@keyframes heart {
0% {
    transform: scale(0.8);
}
50% {
    transform: scale(1);
}
100% {
    transform: scale(0.8);
}
}

/* Create the heart element */
.heart {
position: absolute;
display: block;
width: 10px;
height: 10px;
background-color: #ff69b4;
border-radius: 50%;
animation: heart 1s ease-in-out infinite;
}

/* Position the hearts randomly across the screen */
.heart1 {
top: 10%;
left: 20%;
}
.heart2 {
top: 20%;
left: 60%;
}
.heart3 {
top: 50%;
left: 80%;
}
.heart4 {
top: 70%;
left: 30%;
}
.heart5 {
top: 90%;
left: 70%;
}
.heart6 {
    top: 20%;
    left: 40%;
    }
/* Position the hearts randomly across the screen */
.heart7 {
top: 19%;
left: 29%;
}
.heart8 {
top: 23%;
left: 69%;
}
.heart9 {
top: 60%;
left: 69%;
}

/* Create a container to hold the hearts */
.hearts-container {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -1;
}

/* Add a gradient background to the container */
.hearts-container {
background: linear-gradient(to bottom, #E6E6FA, #fff);
}

body {
    background-color: #E6E6FA
;
    font-family: Arial, sans-serif;
    color: #444;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto 20px;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #663399;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 10px;
}

li:last-child {
    margin-right: 0;
}

a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #663399;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border-radius: 50%;
    transition: all 0.2s ease;
}

a:hover {
    transform: scale(1.2);
}
footer p {
bottom: 0;
position: fixed;
color: rgb(237, 215, 215);
text-align: center;
font-size: 18px;
}
